/* Add layout here */
/* Layout 1: */

/* 
body{
    display: grid;
    /* grid-template-rows: auto auto  auto;
}

main{
    display: grid;    
    grid-column-start: 1;
    grid-column-end: 4;
}
.navigation{
    grid-column-start: 4;
    grid-column-end: 6;
}

.links{
    grid-column: 1 / 6;
    justify-self: center;

}

.links ul {
    display: inline;
}

.links ul > li {
    display: inline-block;
} 
*/

/* Layout 3: */
body{
    display: grid;

    grid-template-areas: 
        "header header header header"
        "footer footer footer footer"
        "navigation main main links" ;
}

header {
    grid-area: header;
    justify-self: center;
}

footer {
    grid-area: footer;
}

.navigation {
    grid-area: navigation;
}
main {
    grid-area: main;
}

.links {
    grid-area: links;
}